html{
  background: rgb(154, 246, 154);
  border-color: none;
  padding-top: 50px;
}
fieldset {
  border: none;
}
.amplify-flex {
  border: none;
}
div {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  border-color: none;
 font-family:Verdana, Geneva, Tahoma, sans-serif;

}
button {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: gray;
  transform: scale(1.1);
}